$primary-violet: #5964E0;
$primary-light-violet: #939BF4;
$primary-dark-blue: #19202D;
$primary-midnight: #121721;

$secondary-white: #FFFFFF;
$secondary-light-grey: #F4F6F8;
$secondary-gray: #9DAEC2;
$secondary-dark-grey: #6E8098;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}